<%= form_with model: @event do |form|%>
    <div>
        <%= form.label "Title" %>
        <%= form.text_field :title %>
        
        <%= form.label "Description" %>
        <%= form.text_field :description %>

        <%= form.label "Location" %>
        <%= form.text_field :location %>
        
        <%= form.label "Date" %>
        <%= form.date_field :date %>

        <%= form.submit "Edit this event" %>
    </div>
    <%= button_to 'delete', event_path(@event), method: :delete, data: { confirm: "Are you sure" }, :class => "btn btn-danger btn-sm mt-2" %>
<% end %>
