<table class="table">
    <thead>
        <tr>
        <th scope="col"><%= :title %></th>
        <th scope="col"><%= :description%></th>
        <th scope="col"><%= :location%></th>
        <th scope="col"><%= :date%></th>
        </tr>
    </thead>
    <tbody>
        <% @events.each do |e| %>
        <tr>
            <td><% if admin_signed_in? && e.admin_id == current_admin.id %>
                <%= link_to e.title, edit_event_path(e), :class => "link-dark" %>
                <% end %>
            </td>
            <td><%= e.description %></td>
            <td><%= e.location %></td>
            <td><%= e.date %></td>
        </tr>
        <% end %>
    </tbody>
</table>


<%= link_to 'New Event', new_event_path %>
