<%= form_with model: @event do |form|%>
    <div>
        <%= form.label "Title" %>
        <%= form.text_field :title %>
        
        <%= form.label "Description" %>
        <%= form.text_field :description %>

        <%= form.label "Location" %>
        <%= form.text_field :location %>
        
        <%= form.label "Date" %>
        <%= form.date_field :date %>

        <%= form.submit "Create event" %>
    </div>
<% end %>

<% console %>