<p>Title: <%= @event.title %></p>

<p>Location: <%= @event.location %></p>

<p>Description: <%= @event.description %></p>

<p>Date: <%= @event.date %><p>

<%= Attendance.where(event_id: @event.id).ids %>

<%# retorna id do attendance de cada evento %>
<%# Event.ids.each do |e| %>
<%#= (Attendance.find_by(event_id: e)).id %>
<%# end %>

<%# Attendance.find_by(event_id: @event.id) %>
<%# attendees.admin_id %>

<% console %>