<p>Title: <%= @event.title %></p>

<p>Location: <%= @event.location %></p>

<p>Description: <%= @event.description %></p>

<p>Date: <%= @event.date %><p>

<%= Attendance.where(event_id: @event.id).ids %>
